.firstH1{
    color: white;
    margin-top: 60px;
    background-color: #312537;
    padding: 26px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 50px;
}

.firstH3{
    color: white;
    margin-top: 15px;
    background-color: #312537;
    padding: 26px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 15px;
}